<mat-toolbar>
    <span>
        <a routerLink="" mat-button>
            <mat-icon fontIcon="home"></mat-icon>Inicio
        </a>
    </span>

    <div>
        <a mat-button routerLink="transacciones">
            <mat-icon fontIcon="send_money"></mat-icon>Transacciones
        </a>
    </div>
    <div>
        <a mat-button routerLink="tipoCuentas">
            <mat-icon fontIcon="account_balance_wallet"></mat-icon>Tipos Cuentas
        </a>
    </div>
    <div>
        <a mat-button routerLink="cuentas">
            <mat-icon fontIcon="wallet"></mat-icon>Cuentas
        </a>
    </div>
    <div>
        <a mat-button routerLink="categorias">
            <mat-icon fontIcon="category"></mat-icon>Categorias
        </a>
    </div>
    <div>
        <a mat-button routerLink="tipoOperacion">
            <mat-icon fontIcon="view_comfy_alt"></mat-icon>Tipos Operaciones
        </a>
    </div>
</mat-toolbar>
