<h5>La cuenta se refiere a los distintos balances que tienes:
    tarjeta de crédito, cuenta de ahorro, préstamo, etc.
</h5>

<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="form.controls.nombre" />
        <mat-error>{{obtenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tipo Cuenta</mat-label>
        <mat-select [formControl]="form.controls.tipoCuenta">
            @for (tipo of tiposCuentasList; track tipo){
                <mat-option [value]="tipo.id">{{tipo.nombre}}</mat-option>
            }
        </mat-select>
        <mat-error>{{obtnerErroresTipoCuenta()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Balance</mat-label>
        <input matInput [formControl]="form.controls.balance" type="text" inputmode="decimal" placeholder="0.00" />
        <mat-error>{{obtenerErroresBalance()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput [formControl]="form.controls.descripcion" rows="3"></textarea>
        <mat-error>{{obtenerErroresDescripcion()}}</mat-error>
    </mat-form-field>

    <div class="contenedor-botones">
        <button mat-flat-button type="submit" [disabled]="form.invalid" class="primary">Guardar Cambios </button>
        <a mat-stroked-button class="warn" routerLink="/cuentas">Cancelar</a>
    </div>
</form>
