<!-- Contenido -->
  <main class="container">
    <mat-card class="welcome" appearance="outlined">
      <mat-card-header>
        <mat-card-title>¡Bienvenido/a!</mat-card-title>
        <mat-card-subtitle>Gestor de gastos personal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Controla tus ingresos y egresos, clasifica tus gastos por categorías y visualiza
          reportes claros para tomar mejores decisiones financieras.
        </p>
      </mat-card-content>
    </mat-card>
  </main>
