<!-- Contenido -->
 <div class="welcome">
    <h1>¡ Bienvenid/a !</h1>
    <h3>Gestor de gastos personal</h3>
    <p style="justify-content: center;">
          Controla tus ingresos y egresos, clasifica tus gastos por categorías y visualiza
          reportes claros para tomar mejores decisiones financieras.
    </p>
    <img src="dinero.gif">
 </div>
  <!--<main class="container">
    <mat-card class="welcome" appearance="outlined">
      <mat-card-header style="justify-content: center;">
        <mat-card-title style="font-weight: bold;">¡Bienvenido/a!</mat-card-title>
        <mat-card-subtitle>Gestor de gastos personal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="justify-content: center;">
          Controla tus ingresos y egresos, clasifica tus gastos por categorías y visualiza
          reportes claros para tomar mejores decisiones financieras.
        </p>
          <img src="dinero.gif">
      </mat-card-content>
    </mat-card>
  </main>-->
