@use "@angular/material" as mat;  //importamos los estilos de angular material, importante agregar este archivo de estilos al angular json

.primary{
    @include mat.theme(
        (
            color: mat.$azure-palette
        )
    )
}

.secondary{
    @include mat.theme(
        (
            color: mat.$magenta-palette
        )
    )
}

.warn{
    @include mat.theme(
        (
            color: mat.$red-palette
        )
    )
}